@import "tailwindcss";

@theme {
  --color-dark-bg: #0f172a;
  --color-dark-panel: #111827;
  --color-accent-blue: #3b82f6;
  --color-accent-red: #f97373;
  --color-accent-green: #22c55e;
}

body {
  @apply bg-slate-900 text-slate-100;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}
